<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel='stylesheet' href='/stylesheets/base.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
	<%- include('header',{userName}) %>


		<!-- 文章列表开始 -->
		<ul class="list w1100">
			<% data.blogList.map(item=>{

				%>
				<li>
					<a href="article.html" class="thumbnail">
						<img src="images/1.jpg">
					</a>
					<div class="content">
						<a class="article-title" href="article.html">
							<%= item.title%>
						</a>
						<div class="article-info">
							<span class="author">子霆</span>
							<span>
								<%= item.time %>
							</span>
						</div>
						<div class="brief">
							<%- item.content%>
						</div>
						<div>
							<a href="/write?_id=<%=item._id%>&page=<%=data.currPage%>">编辑</a>
							<a href="/article/delete?_id=<%=item._id%>&page=<%=data.currPage%>">删除</a>
						</div>
					</div>
				</li>
				<% }) %>

		</ul>
		<!-- 文章列表结束 -->

		<!-- 分页开始 -->
		<div class="page w1100">
			<!-- <a href="#">上一页</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">下一页</a> -->
			<!-- data.currPage==i -->
			<% for(let i=1;i <=data.PagesTotle;i++){ %>

				<a href="/?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
					<%= i %>
				</a>

				<%}%>



		</div>
		<!-- 分页结束 -->
</body>

</html>